/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    box-shadow: 5px 5px 10px grey;
    border-radius:0.5rem;
    overflow: hidden;

    .header {
        width: calc(100% - 2rem);
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(219, 215, 210);
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .button-container {
            .button-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }

    .body {
        padding: 1rem;
        width: calc(100% - 2rem);
    }
    .footer {
        padding: 1rem;
        color: rgb(75, 75, 168);
        width: calc(100% - 2rem);
    }
}