/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
    width: 950px;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}